/* Green theme */
[data-theme="green"] {
  --theme-primary-300: #86efac;
  --theme-primary-400: #4ade80;
  --theme-primary-500: #22c55e;
  --theme-primary-600: #16a34a;
  --theme-primary-700: #15803d;

  --theme-accent-300: #a3e635;
  --theme-accent-400: #84cc16;
  --theme-accent-500: #65a30d;
  --theme-accent-600: #4d7c0f;

  --theme-primary-500-rgb: 34 197 94;
  --theme-accent-500-rgb: 101 163 13;
  --theme-soft-primary-rgb: 34 197 94;
  --theme-soft-accent-rgb: 101 163 13;

  --theme-secondary-50: #f0f9ff;
  --theme-secondary-100: #e0f2fe;
  --theme-secondary-200: #bae6fd;
  --theme-secondary-300: #7dd3fc;
  --theme-secondary-400: #38bdf8;
  --theme-secondary-500: #0ea5e9;
  --theme-secondary-600: #0284c7;
  --theme-secondary-700: #0369a1;
  --theme-secondary-800: #075985;
  --theme-secondary-900: #0c4a6e;
  --theme-secondary-950: #082f49;

  --color-violet-50: #f0fdf4;
  --color-violet-100: #dcfce7;
  --color-violet-200: #bbf7d0;
  --color-violet-300: #86efac;
  --color-violet-400: #4ade80;
  --color-violet-500: #22c55e;
  --color-violet-600: #16a34a;
  --color-violet-700: #15803d;
  --color-violet-800: #166534;
  --color-violet-900: #14532d;
  --color-violet-950: #052e16;

  --color-purple-50: #f0fdf4;
  --color-purple-100: #dcfce7;
  --color-purple-200: #bbf7d0;
  --color-purple-300: #86efac;
  --color-purple-400: #4ade80;
  --color-purple-500: #22c55e;
  --color-purple-600: #16a34a;
  --color-purple-700: #15803d;
  --color-purple-800: #166534;
  --color-purple-900: #14532d;
  --color-purple-950: #052e16;

  --color-fuchsia-50: #f7fee7;
  --color-fuchsia-100: #ecfccb;
  --color-fuchsia-200: #d9f99d;
  --color-fuchsia-300: #bef264;
  --color-fuchsia-400: #a3e635;
  --color-fuchsia-500: #84cc16;
  --color-fuchsia-600: #65a30d;
  --color-fuchsia-700: #4d7c0f;
  --color-fuchsia-800: #3f6212;
  --color-fuchsia-900: #365314;
  --color-fuchsia-950: #1a2e05;

  --color-pink-50: #f7fee7;
  --color-pink-100: #ecfccb;
  --color-pink-200: #d9f99d;
  --color-pink-300: #bef264;
  --color-pink-400: #a3e635;
  --color-pink-500: #84cc16;
  --color-pink-600: #65a30d;
  --color-pink-700: #4d7c0f;
  --color-pink-800: #3f6212;
  --color-pink-900: #365314;
  --color-pink-950: #1a2e05;

  --color-indigo-50: var(--theme-secondary-50);
  --color-indigo-100: var(--theme-secondary-100);
  --color-indigo-200: var(--theme-secondary-200);
  --color-indigo-300: var(--theme-secondary-300);
  --color-indigo-400: var(--theme-secondary-400);
  --color-indigo-500: var(--theme-secondary-500);
  --color-indigo-600: var(--theme-secondary-600);
  --color-indigo-700: var(--theme-secondary-700);
  --color-indigo-800: var(--theme-secondary-800);
  --color-indigo-900: var(--theme-secondary-900);
  --color-indigo-950: var(--theme-secondary-950);

  --flash-deals-from: #16a34a;
  --flash-deals-via: #22c55e;
  --flash-deals-to: #84cc16;
}
